@import "~bootstrap/scss/bootstrap";

.btn-primary{
    background-color:#3A85AB;
    border-color: #3A85AB;
    &:active{
        z-index: 10;
        background-color:#165872;
        border-color: #165872;
        //opacity: 0.8;
    }
    &:hover{
        background-color:#165872;
        border-color: #165872;
        //opacity: 0.8;
    }
    &:not(:disabled):not(.disabled):active{
        background-color:#165872;
        border-color: #165872;
    }
    &:focus{
        box-shadow: 0 0 0 0.2rem #28BEE0;
    }
}
.page-item.active .page-link{
    z-index: 1;
    color: #fff;
    background-color: #3A85AB;
    border-color: #3A85AB;
}
.input-style{
    border-style: none;
    border-bottom: 2px solid #A5A4A4;
    color: #A5A4A4;
    border-radius: 0;
    &::placeholder{
        color: #A5A4A4;
    }
}
.label-style{
    font-size: 12px;
    font-weight: bold;
    color: #636363;
    margin-bottom: 0%;
}